<%- include('./partials/header') %>
<div class="w-full min-h-screen flex items-center justify-center px-5 lg:px-20 py-10 lg:py-20">
    <div class="w-full max-w-lg p-5 bg-white rounded-md shadow-lg text-center">
        <h2 class="text-2xl font-semibold mb-5">Order Confirmed</h2>
        <p class="text-lg text-gray-600 mb-5">Your order has been successfully placed. Thank you for shopping with us!</p>
        <p class="text-md text-gray-500 mb-10">We will process your order and send you a confirmation once it's shipped.</p>
        <a href="/shop" class="bg-green-500 text-white px-6 py-3 rounded-md">Continue Shopping</a>
    </div>
</div>
<%- include('./partials/footer') %>
